# .env.example
DB_URI=mongodb+srv://duongbdph50213:SaKLmw1VM5dyfE6y@cluster0.oe7t3qd.mongodb.net/CF-eCommerce?retryWrites=true&w=majority
PORT=8888
HOST="http://localhost"
DB_USER ="duongbdph50213"
DB_PASS ="SaKLmw1VM5dyfE6y"
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
RESET_PASSWORD_SECRET=your_reset_password_secret_key
RESET_PASSWORD_EXPIRES=3600000
NODE_ENV = "development"
SUB_CATEGORY_DEFAULT
CATEGOGY_DEFAULT
# NODE_ENV = "production"

EMAIL_USERNAME=rhya3065@gmail.com
EMAIL_PASSWORD=rpxp lydb zqry oawr

FRONTEND_URL = "http://localhost:5173"